{% extends "page.html" %}

{% block content %}
<div>
    <div class="filter w-full flex items-center gap-x-4 py-2 px-4">
        <div class="filter-display flex gap-x-2">
            {% for filter in filters %}
                {{ filter|safe }}
            {% endfor %}
        </div>
        <div class="create-filter relative">
            <button class="flex gap-x-2" hx-trigger="click" hx-get="/directory_filter_menu" hx-target=".filter-form" hx-swap="innerHTML">
                <span>Create Filter</span><img class="w-6" src="assets/plus.svg" />
            </button>
            <div class="filter-form absolute" 
                hx-trigger="close-directory-filter-menu from:body, mouseexit" 
                hx-swap="delete">
            </div>
        </div>
    </div>
</div>
<div hx-trigger="filter-directory from:body" hx-get="/directory" hx-swap="innerHTML" >
    {{directory|safe}}
</div>
{% endblock %}
